body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color:rgb(65, 63, 95);
}

.general-container {
    display: flex;
    height: 100vh;
}

.editor-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color:rgb(63, 101, 102);
}

.preview-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color:rgb(64, 90, 122);
}

textarea#editor {
    width: 100%;
    resize: none;
    height: 100%;
    background-color: rgb(49, 79, 80);
    border-color:rgb(65, 124, 90);

}

#preview {
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
    border-color:rgb(35, 87, 117);
    background-color:rgb(50, 71, 97);
}

#editor-headline, #preview-headline {
    color:rgb(175, 185, 127);
    text-decoration-line: underline;
    text-decoration-color:rgb(79, 97, 67);
}

#export-as-md {
    background-color:rgb(141, 102, 179);
    border-radius: 10px;
    height: 40px;
    width: 180px;
}