body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.general-container {
    display: flex;
    height: 100vh;
}

.editor-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.preview-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

textarea#editor {
    width: 100%;
    resize: none;
    height: 100%;

}

#preview {
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
}